<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497229873114-ftq1mg7o7cv498ocofrfbnuqsjm91tcf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497229873114-ftq1mg7o7cv498ocofrfbnuqsjm91tcf</string>
	<key>API_KEY</key>
	<string>AIzaSyBawOH-IAwBWMOCmcwkYL49xoeLJDBCNqY</string>
	<key>GCM_SENDER_ID</key>
	<string>497229873114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctors</string>
	<key>PROJECT_ID</key>
	<string>doctor-rent</string>
	<key>STORAGE_BUCKET</key>
	<string>doctor-rent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497229873114:ios:ec8b4d1e3fcea501cdcae3</string>
</dict>
</plist>